# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next

# Environment files  
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDE / OS
.vscode
.idea
*.swp
*.swo
Thumbs.db
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs & CI
README.md
LICENSE
.github
